.speech,
.stage-direction,
.name {
    font-family: 'arial', Courier, monospace;
    font-size: 1rem;
    color: rgb(20, 15, 15);
    border-radius: 4px;
}

.stage-direction {
    background-color: rgb(215, 231, 124);
}

.stage-direction:hover {
    background-color: rgb(98, 102, 36);
    color: #fff;
}

.duke {
    color: rgb(179, 121, 41);
}

.guido {
    color: rgb(46, 161, 57);
}

.bardi {
    color: rgb(20, 60, 94);
}

.duchess {
    color: rgb(66, 36, 37);
}

.table {
    border: 0.15rem solid rgb(158, 156, 156);
    border-collapse: collapse;
    color: rgb(20, 15, 15);
    text-align: left;
    width: 100%;
}

.table>tr:nth-child(even) {
    background: rgb(221, 219, 219);
}

.table>tr {
    padding: 5px;
}

.table>tbody>tr>td {
    border: 0.15rem solid rgb(212, 202, 202);
    padding: 3px;
}

.table>thead>tr>th {
    border: 0.15rem solid rgb(212, 202, 202);
    padding: 3px;
}

.table>thead {
    background-color: rgb(22, 67, 109);
    color: #fff;
}

.name:hover {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    padding: 3px;
}